.intro {
  max-width: calc(100% - 296px);
  margin: 0 auto;
  padding: 92px 0 0;
}

@media screen and (max-width: 1170px) {
  .intro {
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 930px) {
  .intro {
    max-width: calc(100% - 48px);
    padding: 88px 0 0;
    }
}

@media screen and (max-width: 670px) {
  .intro {
    max-width: calc(100% - 32px);
    padding: 64px 0 0;
    }
}
