.lead__subtitle {
  margin: 0;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  max-width: 640px;
  text-align: center;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 670px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 1.25;
   }
}
