.intro__title {
  max-width: 690px;
  font-size: 54px;
  font-weight: 900;
  line-height: 1.1;
  margin: 0;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 670px) {
  .intro__title {
    font-size: 32px;
  }
}
